
@{
    ViewData["Title"] = "BlogDetail";
    BlogViewModel blogViewModel = Model;
}

@await Component.InvokeAsync("Banner", "blog details")
<!-- Blog Start -->
<div class="blog-details-area pt-150 pb-140">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="blog-details">
                    <div class="blog-details-img">
                        <img src="~/img/blog/@blogViewModel.Blog.Image" alt="blog-details">
                    </div>
                    <div class="blog-details-content">
                        <h2>@blogViewModel.Blog.Title</h2>
                        <h6>By @blogViewModel.Blog.Author  /  @blogViewModel.Blog.CreationDate.ToString("MMMM dd, yyyy")  /  <i class="fa fa-comments-o"></i> @blogViewModel.Blog.CommentCount</h6>
                        @Html.Raw(blogViewModel.Blog.BlogDetail.Description)
                    </div>
                    <div class="reply-area">
                        <h3>LEAVE A REPLY</h3>
                        <p>@Html.Raw(blogViewModel.Blog.BlogDetail.LeaveReply)</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="blog-sidebar right">
                    <div class="single-blog-widget mb-50">
                        <h3>categories</h3>
                        <ul>
                            @foreach (var category in blogViewModel.Categories)
                            {
                                <li><a asp-action="Index" asp-route-categoryId="@category.Id">@category.Name (@category.CategoryBlogs.Count)</a></li>
                            }
                        </ul>
                    </div>
                    @await Component.InvokeAsync("Post")
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Blog End -->
