
@{
    ViewData["Title"] = "EventDetail";
    EventViewModel eventViewModel = Model;
}

@await Component.InvokeAsync("Banner", "event details");
<!-- Event Details Start -->
<div class="event-details-area blog-area pt-150 pb-140">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="event-details">
                    <div class="event-details-img">
                        <img src="~/img/event/@eventViewModel.Event.Image" alt="event-details">
                        <div class="event-date">
                            <h3>@eventViewModel.Event.StartTime.ToString("dd") <span>@eventViewModel.Event.StartTime.ToString("MMM") </span></h3>
                        </div>
                    </div>
                    <div class="event-details-content">
                        <h2>@eventViewModel.Event.Title</h2>
                        <ul>
                            <li><span>time : </span>@eventViewModel.Event.StartTime.ToString("h.mm tt") - @eventViewModel.Event.EndTime.ToString("h.mm tt")</li>
                            <li><span>venue : </span>@eventViewModel.Event.Venue</li>
                        </ul>
                        @Html.Raw(eventViewModel.Event.EventDetail.Description)
                        <div class="speakers-area fix">
                            <h4>speakers</h4>
                            @foreach (var eventSpeaker in eventViewModel.Event.EventSpeakers)
	                        {
                                <div class="single-speaker">
                                    <div class="speaker-img">
                                        <img src="~/img/event/@eventSpeaker.Speaker.Image" alt="speaker">
                                    </div>
                                    <div class="speaker-name">
                                        <h5>@eventSpeaker.Speaker.FullName</h5>
                                        <p>@eventSpeaker.Speaker.Profession</p>
                                    </div>
                                </div>
	                        }
                        </div>
                    </div>
                    <div class="reply-area">
                        <h3>LEAVE A REPLY</h3>
                        <p>@eventViewModel.Event.EventDetail.LeaveReply</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="blog-sidebar right">
                    <div class="single-blog-widget mb-50">
                        <h3>categories</h3>
                        <ul>
                            @foreach (var category in eventViewModel.Categories)
                            {
                                <li><a asp-action="Index" asp-route-categoryId="@category.Id">@category.Name (@category.CategoryEvents.Count)</a></li>
                            }
                        </ul>
                    </div>
                    @await Component.InvokeAsync("Post")
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Event Details End -->
