@model List<Course>
@{
    ViewData["Title"] = "Courses";
}

@await Component.InvokeAsync("Banner","courses")
<!-- Course Start -->
<div class="course-area pt-150 pb-150">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="course-title">
                    <h3>search courses</h3>
                </div>
                <div class="course-form">
                    <form id="search" action="#">
                        <input type="search" id="course-search-input" placeholder="Search..." name="search" />
                    </form>
                </div>
                <div id="course-result"></div>
            </div>
        </div>
        @if (Model.Count() == 0)
        {
            @await Component.InvokeAsync("Course", new InvokeRequest() { Count = 9, SkipCount = ViewBag.Page })
            <div class="row" id="paginationBox">
                <div class="col-xs-12" id="paginationId">
                    <div class="pagination">
                        <ul>
                            @for (int i = 1; i <= ViewBag.PageCount; i++)
                            {
                                if (ViewBag.Page == i)
                                {
                                    <li><a disabled asp-action="Index" asp-route-page="@i">@i</a></li>
                                }
                                else
                                {
                                    <li><a asp-action="Index" asp-route-page="@i">@i</a></li>
                                }
                            }
                        </ul>
                    </div>
                </div>
            </div>
        }
        else
        {
            <div class="row" id="course-list">
                @foreach (var course in Model)
                {
                    <div class="col-md-4 col-sm-6 col-xs-12" id="course-card">
                        <div class="single-course">
                            <div class="course-img">
                                <a asp-controller="Course" asp-action="CourseDetail" asp-route-id="@course.Id">
                                    <img src="~/img/course/@course.Image" alt="course">
                                    <div class="course-hover">
                                        <i class="fa fa-link"></i>
                                    </div>
                                </a>
                            </div>
                            <div class="course-content">
                                <h3><a href="course-details.html">@course.Name</a></h3>
                                <p>@(course.Description.Length > 130 ? Html.Raw(course.Description.Substring(0,130)) : Html.Raw(course.Description))</p>
                                <a class="default-btn" asp-controller="Course" asp-action="CourseDetail" asp-route-id="@course.Id">read more</a>
                            </div>
                        </div>
                    </div>
                }
            </div>
        }
    </div>
</div>
<!-- Course End -->
